a
 	{
 	text-decoration:none;
 	}
 	body
 	{
 	font-family:Hiragino Sans GB,Arial,Helvetica,"宋体"，sans-serif;
 	font-size:14px;
 	background-color:#f0f0f0;
 	a:text-decoration:none;

 	}
 	
 	header
 	{
 	padding:0 10px;
 	height:45px;
 	text-align:center;
 	position:relative;
 	color:#333;
 	line-height:45px;
 	padding:0 10px;
 	}
 	
 	header .back{
 	padding-left:18px;
 
 	color:#333;
 	display:block;
 	float:left;
 	position:relative;
 	
 	}
 	
 	.position-city
 	{
 	line-height:45px;
 	background-color:#FFF;
 	text-align:center;
 	
 	}
 	.home-place-list ul
 	{
 	font-size:0;
 	}
 	ul
 	{
 	list-style:none;
 	margin:0;
 	padding:0;
 	outline:0;
 	}
 	
 	.hot-trade .hd
 	{
 	padding-left:10px;
 	font-size:14px;
 	color:#323232;
 	line-height:30px;
 	background-color:#f2f2f2;
 	border-bottom:1px solid #e2e2e2;
 	font-weight:700;
 	display:block;
 	
 	}
 	
 	.home-place-list 
 	{
 	background-color:#fff;
 	}
 	
 	
 	.home-place-list li
 	{
 	display:inline-block;
 	width:33%;
 	line-height:48px;
 	border-bottom:1px solid #ededed;
 	border-right:1px solid #ededed;
 	text-align:center;
 	color:#323232;
 	font-size:16px;
 	}
 	
 	.letter-list li
 	{
 		width:20%!important;
 	}
 	
 	.home-place-list li a 
 	{
 		display:block;
 		color:#323232;
 		overflow:hidden;
 		white-space:nowrap;
 		text-decoration:none;
 	}
 	
 	#backicon
 	{
	position:absolute;
	left:10px;
	top:3px;
 	font-size:35px;
 
 	}
 	body
 	{font-family:Microsoft YaHei;}
	a:link{ decoration:none} /* 鏈闂殑閾炬帴 */ 
	a:visited{decoration:none} /* 宸茶闂殑閾炬帴 */ 
	a:hover{text-decoration:none}/* 榧犳爣鍦ㄩ摼鎺ヤ笂 */ 
	a:active{ text-decoration:none}/* 鐐瑰嚮婵�娲婚摼鎺� */ 
 	