.carousel-indicators
{
	position:absolute;
	bottom:-5px;
	left:65%;
	z-index:15;
	width:60%;
	padding-left:0;
	margin-left:-30%;
	text-align:right;
	list-style:none;
}

.carousel-bg{
	background: #1E1E1E;
	opacity: 0.5;
	position: absolute;
	right: 0;
	bottom: -13px;
	left: 0;
	height: 45px;			
}
			
.carousel-caption{
	position:absolute;
	right:0;
	bottom:-14px;
	left:7%;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:left;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}