.carousel-indicators
{
	position:absolute;
	bottom:-5px;
	left:65%;
	z-index:15;
	width:60%;
	padding-left:0;
	margin-left:-30%;
	text-align:right;
	list-style:none;
}

.carousel-bg{
	background: #1E1E1E;
	opacity: 0.5;
	position: absolute;
	right: 0;
	bottom: -13px;
	left: 0;
	height: 45px;			
}
			
.carousel-caption{
	position:absolute;
	right:0;
	bottom:-14px;
	left:7%;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:left;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}

		#recommend-content .item
		{
	    margin-left: 10px;
	    padding: 15px 10px 0px 0;
	    box-sizing: border-box;
	  
	    background-repeat: repeat-x;
	    background-position: 0 bottom;
	    background-size: auto 1px;
	    display: -webkit-box;
	    border-bottom:1px solid #ccc;
		}
		.pic_item
		{
		padding-top:0;
		height:82px;
		width:82px;
		}
		.pic_item img
		{
		height:100%;
		width:100%;
		border-radius:2px;
		}
		.content
		{
			padding-left:10px;
			-webkit-box-flex: 1;
		}
		.content .summary
		{
		font-family:Microsoft YaHei;
		font-size:17px;
		color:#333;
		overflow:hidden;
		text-overflow:ellipsis;
		}
		.content .detail
		{
		font-family: Hiragino Sans GB,Arial,Helvetica,"ו",sans-serif;
		line-height:16px;
		font-size:12px;
		color:#999;
		
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow:hidden;
		
		}
		.content .clickrate
		{
		font-size:14px;
		}
